/* root for variables */
:root {
    /* color palette */
    --strips: #222283;
    --text-light: #fff6d1;
    --backgrounds: #1f1a1af3;
    --brightborder: #df9100;
}
* {
    margin: 0 auto;
    padding: 0;
}
/* changing html default text pixel size to 10 for easier use of rem */
html {
    font-size: 62.5%;
}

body {
    display: flex; /* flex for simpler responsiveness */
    flex-direction: column; /* column for mobile-first */
    background-color: var(--backgrounds); /* catchall background color */
    width: 100%;
    color: var(--text-light); /* text color to contrast with darker page theme */
    text-align: center; /* centering text within content */
}
header {
    justify-content: center; /* centering all content */
    background-color: var(--strips);
    width: 100%;
}
/* format h1 text */
h1 {
    margin: 0; /* removing margin so there isn't extra space, screen size is a premium */
    font-size: 4rem; /* 40 pixels */
    color: var(--text-light); /* text color */
    padding-top: 2%; /* padding for readability, phones often are crowded at the top */
    margin-top: 0; /* removes white line from top */
    padding-bottom: 1%; /* readability */
    background-color: var(--strips); /* background color */
    width: 100%;
}
#portrait {
    background-color: var(--strips); /* background color for in case screen scales up beyond max img size */
}
/* setting image scale up with screen but max size */
#portrait img {
    display: block;
    width: 100%;
    max-width: 800px;
}
/* flex display for our nav, some alignment stuff */
nav {
    display: flex;
    font-size: 1.5rem;
    text-decoration: none; /* remove link underline */
    border-bottom: var(--brightborder) 3px groove;
    border-top: var(--brightborder) 3px groove;
}
/* formatting of links within the nav, flex and centered */
nav a {
    width: 33.33%;
    padding: 1%; /* a little space for increased readability */
    text-decoration: none;
}

h2 {
    background-color: var(--strips);
    font-size: 2.5rem;
    border-bottom: var(--brightborder) 3px groove;
    border-top: var(--brightborder) 3px groove;
}

.aboutme p {
    font-size: 1.6rem;
    text-align: start;
    padding: 5px;
    text-indent: 5%;
}

nav a:hover {
    background-color: var(--darkblue);
}
/* display properties limited to mobile */
@media screen and (min-width: 480px) {
    .header {
    }
    nav {
    }
    nav a {
    }
}
/* display properties for tablets */
@media screen and (min-width: 992px) {
    nav {
    }
    nav a {
    }
}




/* DELETE LATER */
#mobile,
#tablet,
#computer {
    display: block;
    position: fixed;
    top: 0px;
    right: 0px;
    font-size: 50px;
    color: red;
    opacity: 25%;
}
#tablet,
#computer {
    display: none;
}
@media screen and (min-width: 480px) {
    #mobile,
    #computer {
        display: none;
    }
    #tablet {
        display: block;
    }
}
@media screen and (min-width: 992px) {
    #mobile,
    #tablet {
        display: none;
    }
    #computer {
        display: block;
    }
}

br {
    display: none
}